<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chloemolle.potecolle">

    <application
        android:name="potecolle.application.about.education.Globals"
        android:allowBackup="true"
        android:label="Potecolle"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="potecolle.application.about.education.FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="potecolle.application.about.education.ConnexionPage">
        </activity>


        <activity android:name="potecolle.application.about.education.MainPage">
        </activity>

        <activity android:name="potecolle.application.about.education.ChoixMatierePage">
        </activity>

        <activity android:name="potecolle.application.about.education.ChoixSujetPage">
        </activity>

        <activity android:name="potecolle.application.about.education.ChoixAmiPage">
        </activity>

        <activity android:name="potecolle.application.about.education.QuizPage"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name="potecolle.application.about.education.FinQuizPage">
        </activity>

        <activity android:name="potecolle.application.about.education.ResultPage">
        </activity>

        <activity android:name="potecolle.application.about.education.BrouillonPage">
        </activity>

        <activity android:name="potecolle.application.about.education.LoadingQuizPage">
        </activity>

        <activity android:name="potecolle.application.about.education.NotificationPage">
        </activity>

        <activity android:name="potecolle.application.about.education.ChoixTimer">
        </activity>

        <activity android:name="potecolle.application.about.education.AskForUsername">
        </activity>

        <activity android:name="potecolle.application.about.education.AddFriendsPage">
        </activity>

        <activity android:name="potecolle.application.about.education.VoirAmiPage">
        </activity>

        <activity android:name="potecolle.application.about.education.ConfigureComptePage">
        </activity>

        <activity android:name="potecolle.application.about.education.MesPartiesPage">
        </activity>

        <activity android:name="potecolle.application.about.education.NoAccountPage"></activity>

        <activity android:name="potecolle.application.about.education.SubscriptionPage"></activity>

        <activity android:name="potecolle.application.about.education.ConnexionSecondPage"></activity>
        <activity android:name="potecolle.application.about.education.PasswordForgottenPage"></activity>


    </application>

</manifest>