<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chloemolle.potecolle">

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:label="Potecolle"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ConnexionPage">
        </activity>


        <activity android:name=".MainPage">
        </activity>

        <activity android:name=".ChoixMatierePage">
        </activity>

        <activity android:name=".ChoixSujetPage">
        </activity>

        <activity android:name=".ChoixAmiPage">
        </activity>

        <activity android:name=".QuizPage"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".FinQuizPage">
        </activity>

        <activity android:name=".ResultPage">
        </activity>

        <activity android:name=".EcriturePage">
        </activity>

        <activity android:name=".LoadingQuizPage">
        </activity>

        <activity android:name=".NotificationPage">
        </activity>

        <activity android:name=".ChoixTimer">
        </activity>

        <activity android:name=".AskForUsername">
        </activity>

        <activity android:name=".AddFriendsPage">
        </activity>

    </application>

</manifest>